body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 20px;
    background-color:#000000;/*radial-gradient(circle at 0% 0%, #000000, #555555);*/
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    background-size: cover;
    display: flex; /* Active le flexbox pour le corps */
    justify-content: flex-start; /* Aligne horizontalement à gauche */
    align-items: center; /* Centre verticalement */
    padding-left: 20px; /* Ajoute une petite marge à gauche si nécessaire */
}

h1, h2, h3, h4 {
    color: #ffffff;
}

.suivretesperformance {
    font-family: 'Barlow Condensed', sans-serif; /* Applique la police Barlow Condensed */
    font-size: 2.4em; /* Définit la taille de police à 3 fois la taille de base */
    text-align: left; /* Aligne le texte à gauche */
    margin-left: 52px;
    margin-top:23%;
    width: 100%;
}

.suivre {
    color: rgb(255, 255, 255); /* Couleur blanche pour le texte */
    font-size: 3em;
}

.performance {
    color: #7ed957; /* Change la couleur du texte en vert */
    font-size: 3em;
}


.logo {
    width: 140px; /* Adjust the width to make it smaller */
    height: auto; /* Keep the aspect ratio intact */
    position: absolute; /* Fixes the image to the top-left corner */
    top: 0.4%; /* Adjusts the vertical position from the top */
    left: 5%; /* Adjusts the horizontal position from the left */
    z-index: 1000; /* Ensures the logo is on top of other elements */
    
}

.paragraphe{
     font-size: 0.5em;
     font-family: 'Raleway', Arial, sans-serif;
     font-weight: 500; /* Gras */
     line-height: 0;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.5);
     margin-top: 100px;
}



@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/BarlowCondensed-Italic.ttf') format('truetype'); /* Assurez-vous que le nom du fichier est correct */
    /* Vous pouvez également ajouter d'autres formats si nécessaire */
}

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/BarlowCondensed-Bold.ttf') format('truetype');
}



@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Raleway-Thin.ttf') format('truetype'); /* Assurez-vous que le nom du fichier est correct */
    /* Vous pouvez également ajouter d'autres formats si nécessaire */
}

@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/Raleway-Black.ttf') format('truetype');
}

.perf{
width: auto;
height: 400px;
margin:auto;
}